body{
  margin-top: 0;
  margin-bottom: 200px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background: linear-gradient(to right,#452c08,#966212) ;
  position: relative;
  font-family: Cinzel,arial,sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  width: 100%;
}

.game-title{
  font-family: 'Marcellus SC', serif;
  font-size: 2rem;
  background-color: #b76e00;display: inline-block;
  text-wrap: nowrap;
  padding: 5px 10px;
  border-radius: 30px;
  font-weight: bold;
  margin:10px 10px;
}

.game-title span{
  font-size: 1.7rem;
  font-weight: normal;
}

.navbar{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}

.navbar a{
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  transition: 0.3s ease;
}

.navbar a:hover{
  border-radius: 30px;
  padding:3px 10px;
  background-color: rgb(207, 128, 60)
}

.nav-link-left{
  margin-right: 10px;
}

.nav-link-right{
  margin-left: 10px;
}

.nav-link-middle{
  margin: 5px 20px;
}

#stats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  width: 60vw;
  border: 3px solid black;
  margin: 0 auto;
  
} 

.stat-container{
  width:10vw;
}

.stat{
  font-size: 1.7rem;
  font-weight: 500;
  text-wrap: nowrap;
}

#game{
  text-align: center;
  margin-top: 50px;
}

#map-nav{ 
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  background-image: url(../images/map/map.jpg);
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
}

#dark-valley-map{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/dark-valley.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
}

#dv-initial-btns{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 250px;
}

#dark-valley-map-inner{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/dark-valley-inner.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
}

#valley-map{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/valley.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
}

#valley-map-inner{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/valley-inner.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
}

.valey-map-notif-container{
	margin-top: 200px;
}

#valley-map-notif-btn{
	display:none;
}

  /* Fighting display Styles*/
#fighting-display-container{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/valley-grasslands.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
}

#fighting-display-main-container{
	display:flex;
	justify-content: space-between;
	align-items:center;
}

#player-img, #fighting-monster-img{
	border: 2px solid black;
	width: 100px;
	height: 100px;
}

.fighting-monster-img-container, .player-img-container{
	padding:10px 10px;
}

#player-stats-display-container{
		width:300px;
		display:flex;
		flex-direction: column;
	  text-align:center;
		font-size: 0.8rem;
		color: white;
		text-wrap: no wrap;
}

 #fighting-monster-stats-container{
		width:300px;
		display:flex;
		flex-direction: column;
		font-size: 0.8rem;
		color: white;
		
 }
#fighting-monster-stat{
	text-align:left;
	text-wrap: no wrap;
}

/*town*/
#town-notif-container{
background-color: white;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid black;
  height: 40px;
  width: auto;
  display:none;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  margin-top: 160px;
  position: absolute; 
  z-index: 100;
}

#weapon-inv-container, 
#armor-inv-container
{
  background-color: white;
  display: none;
  overflow: scroll;
  margin:10px 10px;
  border: 2px solid orangered;
  border-radius: 10px;
  height: 180px;
  width: 510px;
  z-index: 90;
  padding: 10px;
  position: absolute;
}

#town-inventory-container{
  background-color: white;
  display: none;
  overflow: scroll;
  margin:10px 10px;
  border: 2px solid orangered;
  border-radius: 10px;
  height: 180px;
  width: 510px;
  z-index: 90;
  padding: 10px;
  position: absolute;
}

.town-item-container{
    display: flex;
    align-items: center;
}

.town-item-container p{
  margin-left: 200px;
  margin-right: 10px ;
  margin-bottom: 10px;
}

#equipments-container{
  background-color: rgb(106, 106, 107);
  display: none;
  margin:10px 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  height: 180px;
  width: 510px;
  z-index: 1000;
  padding: 10px;
  position: absolute;
  height: 380px;
}

#town-map{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/town-main.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
}

#town-map-btns{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(10.1px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  margin-top: 10%;
  margin-left: 27%;
  padding: 20px;
  z-index: 1;
  position: relative;
}

/*alchemist store*/

#alchemist-store{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/alchemy-shop.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
  
}

#alchemy-store-notif-container{
  background-color: white;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid black;
  height: 40px;
  width: auto;
  display:none;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute; 
}

#alchemy-store-notif{
  font-weight: bold;
  font-size: 1.0rem;
  line-height: 3;
  
}
#alchemy-store-notif-bck-btn, #confirm-yes-btn, #confirm-no-btn{
  margin-left: 10px;
  display: inline-block;
  border: 1px solid rgb(103, 63, 18);
  border-radius: 5px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: Cinzel;
}

#alchemist-store-confirmation-container{
  background-color: white;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid black;
  height: 40px;
  width: auto;
  display:none;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute; 
}

#alchemy-store-confirmation-txt{
  font-weight: bold;
  line-height: 1.6;
  font-size: 1.0rem;
}


#buy-health-potion-btns{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  background-image: url(../images/items/hp.jpg);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 10px 15px black;
}

 #buy-energy-potion-btns{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  background-image: url(../images/items/energy.jpg);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 10px 15px black;
 }

#buy-health-potion-btns button, #buy-energy-potion-btns button{
  width: 80px;
  height: 25px;
  border: 1px solid orangered;
  font-size: 1rem;
  border-radius: 5px;
  font-family: Cinzel;
  font-weight: bold;
}

.quantity-btns-container button{
  font-family: arial;
  font-size: 2rem;
  font-weight: bolder;
}

 #buy-health-potion-btns input, #buy-energy-potion-btns input {
  height: 25px;
  width: 50px;
  margin-bottom: 210px;
  border: 1px solid orangered;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Cinzel;
 }

  /*remove the spin btns in the number input*/
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 .quantity-btns-container, .input-container,.buy-cancel-btns-container{
  display: block;
 }

 #alchemy-store-btns-container{
  margin-bottom: 10px;
  margin-top: 10px;
 }

 #alchemy-store-btns-container button, #alchemist-store-back-btn{
  border: 1px solid rgb(103, 63, 18);
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: Cinzel;
 }

/*blacksmith store*/

#blacksmith-store{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/blacksmith-shop.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
}

#blacksmith-store-notif-container, #swordsmith-store-notif-container {
  background-color: white;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid black;
  height: 40px;
  width: auto;
  display:none;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  margin-top: 200px;
  z-index: 1000;
  position: absolute;
}

#blacksmith-store-confirmation-container{
  background-color: white;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid black;
  height: 40px;
  width: auto;
  display:none;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  margin: auto auto;
  position: absolute; 
  z-index: 1000;
}

#blacksmith-store-confirmation-txt{
  font-weight: bold;
  line-height: 1.6;
  font-size: 1.0rem;
}


#blacksmith-store-notif, #swordsmith-store-notif{
  font-weight: bold;
  font-size: 1.0rem;
}
#blacksmith-store-notif-bck-btn, #swordsmith-store-notif-bck-btn{
  margin-top: 15px;
}

#breastplate-container{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  background-image: url(../images/items/breastplate.jpg);
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 10px 15px black;
  position: relative;
  z-index: 1;
}

#breastplate-info-container{
  background-color: rgba(0, 0, 0, 0.775);
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  left: 0%;
  right: 0%;
  bottom:0%;
  overflow: hidden;
  height:0;
  transition: .5s ease;
  margin:0 ;

}

#breastplate-info-container p{
  color: white;
  text-align: center;
  font-size: 0.7rem;
  margin-top: 10px;
  line-height: 20px;
  padding: 10px 20px;
  text-align: left;
}

#breastplate-info-btn, #breastplate-buy-btn, #breastplate-cancel-btn{
  display: inline-block;
}

#breastplate-close-info{
  width: 50px;
  height: 20px;
  margin-left: 88%;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  transition: 0.8s ease;
  border-radius: 3px;
}

#breastplate-close-info:hover {
  background-color: white;
  color: black;
}

.item-stats{
  font-size: 1.4rem;
}

/*swordsmith store*/

#swordsmith-store{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/swordsmith-shop.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
}

#swordsmith-store-back-btn{
  display: block;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/*Temple*/

#temple{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/temple.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
}

/*Fighting*/


#monster-stats{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/map/valley-grasslands.jpg);
  display:none;
  background-size: cover;
  width: 550px;
  height: 550px;
  border: 5px solid black;
  border-radius: 10px;
}

.monster-stat{
  font-size: 1.3rem;
  font-weight: 500;
  text-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

.last{
  margin-bottom: 10px;
}

.monster-img-container{
	display:inline-block;
}

#monster-img{
  width: 150px;
  height: 150px;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b, #ffeda3);
  border-image-slice: 1;
  margin-bottom:10px;
}


#monster-stats-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:  #E8DED1;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 3px solid #BFAA8C;
  margin: 20px 20px;
}


.fight-monster-btn,
.flee-monster-btn {
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
  background: #E8DED1;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 3px solid #BFAA8C;
  cursor: pointer;
  transition:0.5s;
}

.fight-monster-btn:hover,
.flee-monster-btn:hover {
  background: #BFAA8C;
  color: white;
  border: 3px solid white;
}

#controls{
  position: relative;
}

#fight-story-container{
  width: 450px;
  height:250px;
  font-weight: bold;
  font-size: .8em;
  background-color: white;
  border: 2px solid orangered;
  padding: 10px 10px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.fight-story-player-entry {
    border-bottom: 2px solid #ad7a33; 
    padding: 5px 0;
    margin-bottom: 5px;
    color: #dc1ae2;
    font-weight: bold;
}

.fight-story-monster-entry {
    border-bottom: 2px solid #ad7a33; 
    padding: 5px 0;
    margin-bottom: 5px;
    color: #0e00a8;
    font-weight: bold;
}

.crit-dmg-fight-story{
  border-bottom: 2px solid #ad7a33; 
  padding: 5px 0;
  margin-bottom: 5px;
  color: rgb(5, 161, 161);
  font-weight: bold;
}

.use-hp-potion-fight-story{
  border-bottom: 2px solid #ad7a33; 
  padding: 5px 0;
  margin-bottom: 5px;
  color: rgb(236, 11, 11);
  font-weight: bold;
}

.use-energy-potion-fight-story{
  border-bottom: 2px solid #ad7a33; 
  padding: 5px 0;
  margin-bottom: 5px;
  color: rgb(18, 240, 44);
  font-weight: bold;
}

#fighting-confirm-btn{
  display: none;
}

#inventory-container{
  background-color: white;
  display: none;
  overflow: scroll;
  margin:10px 10px;
  border: 2px solid orangered;
  border-radius: 10px;
  height: 180px;
}

.item-container{
    display: flex;
    align-items: center;
}

.item-container p{
  margin-left: 200px;
  margin-right: 10px ;
  margin-bottom: 10px;
}

#fighting-notif{
  color:black;
  font-size: 15px;
  font-weight: bold;
  display:none;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 10px;
}

#fight-notif-back-button{
  display: block;
  margin-left: 43%;
  margin-top: 15px;
}



/*Dark valley map*/

#dark-valley-btn{
  position: absolute;
  top: 160px;
  left:60px;
  color: white;
  font-weight: bold;
  padding:5px 10px;
  box-shadow: 0px 0px 5px white;
  background-color:rgb(67, 75, 81);
  border-radius: 40px;
  transition: 0.3s ease;
}

#dark-valley-btn:hover{
  background-color: aliceblue;
  color:black;
  box-shadow: 0px 0px 5px black;
}

#valley-btn{
  position: absolute;
  top:160px;
  right:70px;
   color: white;
  font-weight: bold;
  padding:5px 10px;
  box-shadow: 0px 0px 5px white;
  background-color:rgb(67, 75, 81);
  border-radius: 40px;
  transition: 0.3s ease;
}

#valley-btn:hover{
  background-color: aliceblue;
  color:black;
  box-shadow: 0px 0px 5px black;
}

#arena-btn{
  position: absolute;
  top:220px;
  right: 220px;
  color: white;
  font-weight: bold;
  padding:5px 10px;
  box-shadow: 0px 0px 5px white;
  background-color:rgb(67, 75, 81);
  border-radius: 40px;
  transition: 0.3s ease;
}

#arena-btn:hover{
  background-color: aliceblue;
  color:black;
  box-shadow: 0px 0px 5px black;
}

#town-btn{
  position: absolute;
  top:450px;
  right: 225px;
  color: white;
  font-weight: bold;
  padding:5px 10px;
  box-shadow: 0px 0px 5px white;
  background-color:rgb(67, 75, 81);
  border-radius: 40px;
  transition: 0.3s ease;
}

#town-btn:hover{
  background-color: aliceblue;
  color:black;
  box-shadow: 0px 0px 5px black;
}

.bttn{
  font-family:Cinzel,arial,sans-serif;
  cursor: pointer;
}

#notif-container{
  color:black;
  font-size: 15px;
  font-weight: bold;
  display:none;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 10px;
}

#notif-back-button{
  display: block;
  margin-left: 43%;
  margin-top: 15px;
}

.current-weapon-txt{
  background-color: #452c089b;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.current-helmet-txt{
  background-color: #0e00a885;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.current-armor-txt{
  background-color: #cc1bd291;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.current-gauntlet-txt{
  background-color: rgba(0, 255, 255, 0.371);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.current-boots-txt{
  background-color: rgba(43, 226, 76, 0.46);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.current-shield-txt{
  background-color: rgba(165, 210, 30, 0.401);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}